.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.loginImage{
  background-image: url("/public/assets/image/44 1.png")!important;
  background-repeat: no-repeat;
  background-size:100% auto;
  background-position-y:35%;
  /*filter: blur(3px);*/
  /*-webkit-filter: blur(4px);*/
}

body{
  background-color:#eff3f8
}
.p-menubar .p-menubar-start{
  margin-left:unset;
  flex:1 1;
}
.p-menubar .p-menubar-end{
  flex: 1 1;
}
.p-menubar-root-list{
  display:flex;
  justify-content: center;
  align-items: center;

}
.p-accordion-content{
  padding:0;
}
.p-accordion .p-accordion-header .p-accordion-header-link {
   padding:unset;

}
.p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  margin-right:unset;
}
/*.p-datatable .p-datatable-thead > tr > th {*/
/*  text-align: left;*/
/*  padding: 1rem 1rem;*/
/*  border:unset;*/
/*  !* border-width: 0 0 1px 0; *!*/
/*  font-weight: 700;*/
/*  color: unset;*/
/*  background: unset;*/
/*  transition: box-shadow 0.2s;*/
/*  */
/*}*/
.p-menubar {
  padding: 0.5rem;
  background: #f9fafb;
  color: #4b5563;
  border-bottom:unset;
  border-top:unset;
  border-radius: 6px;
}